<p><strong>Phone numbers:</strong><p>
<ul class="phone_numbers">
  <% phone_numbers.each do |phone| %>
    <li>
      <%= phone.number %>
      <ul class='actions'>
        <li><%= link_to 'edit', edit_phone_number_path(phone) %></li>
        <li><%= link_to 'delete', phone, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </li>
  <% end %>
</ul>
