<p><strong>Email Addresses:</strong><p>
<ul class="email_addresses">
  <% email_addresses.each do |email_address| %>
    <li>
      <%= email_address.address %>
      <ul class='actions'>
        <li><%= link_to 'edit', edit_email_address_path(email_address) %></li>
        <li><%= link_to 'delete', email_address, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </li>
  <% end %>
</ul>
